# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Environment
.env

# IDEs and editors
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
